
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: High Tower Text;
}

* >p {
  font-size: 20px;
}

/* ---------------------------------------------- Navbar ------------------------------------------------ */

.navbar {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 5px 50px 0 0;
  position: fixed !important;
  z-index: 1;
}


.navbar .nav-link {
  font-size: 22px !important;
  font-weight: 500;
  color: black !important;
  padding-right: 20px !important;
}

.navbar .selected {
  color: #9a7f7f !important;
}

.navbar .nav-link:hover {
  color: #a59898 !important;
}

/* ---------------------------------------------- Footer ------------------------------------------------ */

.footer {
  width: 100%;
  font-size: 18px;

  color: #ffffff;
  background-color: #9a7f7f;
}

.footer .line {
  background-color: #AA9393;
  width: 60%;
  height: 2px;
}

.footer .copyright {
  color: #ffffff;
  background-color: #AA9393;
}



/* ---------------------------------------------- Home ------------------------------------------------ */


/* ----------------- HEADER ---------------- */
.home-header {
  background-image: url("./images/IMG_1565.JPG");
  width: 100%;
  height: 925px;
  background-size: cover;
  color: white;
}

.home-header >h1 {
  font-size: 100px;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


/* ----------------- ABOUT THE SPACE ---------------- */

.home-aboutTheSpace {
  background-color: #AA9393;
}

.home-aboutTheSpace .text >h1 {
  font-size: 50px;
}

.home-aboutTheSpace .text >p {
  font-size: 22px;
}


.home-aboutTheSpace .schoolPic {
  background-size: contain;
  width: 100%;
}

.home-aboutTheSpace .picFrame {
  background-color: #faf6f6;
}


/* ----------------- THE CLASSES ---------------- */

.homeTheClasses .bookClass {

  background-color: #9A7F7F;
  width: 17.5%;
  font-size: 25px;
  color: #EFEFEF;
  margin: 0 auto 0 auto;
  text-align: center;

  filter: drop-shadow(2px 2px 2px #8f8f8f);
}

.homeTheClasses .bookClass:hover {
  color: #eee6e6;
  background-color: #9a7f7fe1;
  cursor: pointer;
}

.homeTheClasses .cards >h1 {
  font-size: 50px !important;
  color: #000000;
}


/* ---- THE CARDS ---- */

.card_container {
  
  filter: drop-shadow(2px 2px 5px #8f8f8fa1);
}

.card_container .card_image {
  width: 100%;
  background-size: contain;
}

.card_container .card_tag {
  background-color: #e6dfdd;
}

.card_container >h4 {
  color: #6C6060;
}




/* ---------------------------------------------- Classes ------------------------------------------------ */


/* ----------------- HEADER ---------------- */
.classes-header {
  background-image: url("./images/IMG_1532.JPG");
  width: 100%;
  height: 650px;
  background-size: cover;
  color: white;
}

.classes-header >h1 {
  font-size: 100px;
  animation: fadeIn 3s;
}


/* ----------------- ClassInfo ---------------- */

.classes-classInfo .element {
  filter: drop-shadow(2px 2px 2px #8f8f8f);
  height: 550px;
}

.classes-classInfo .element .image {
  height: 550px;
  object-fit: cover;
  
}

.classes-classInfo .information {
  background-color: #CCC5C3;
}

.classes-classInfo .information >h1 {
  color: #6C6060;
}

.classes-classInfo .right {
  background-color: #CCC5C3;
  height: 550px;
}

.classes-classInfo .bookSession {
  margin: 0 auto 0 auto;
  width: 27%;
  background-color: white;
  border: 2px solid #9A7F7F;
}


/* ---------------------------------------------- Plans&Prices ------------------------------------------------ */

.plansPrices {
  width: 100%;
  background-color: #F2F2F2;
}

.plansPrices .right >h1 {
  font-size: 45px;
  color: #AA9393;
}

.plansPrices .image {
  object-fit: cover;
}

.plansPrices .button1 {
  margin: 0 auto 0 auto;
  background-color: #9A7F7F;
  color: #F2F2F2;
}

.plansPrices .button2 {
  margin: 0 auto 0 auto;
  background-color: #F2F2F2;
  border: 2px solid #9A7F7F;
}

.plansPrices .button1:hover, .button2:hover {
  cursor: pointer;
}

.plansPrices .table {
  margin: 0 auto 0 auto;
  width: 60%;
  border-collapse: separate;
}

.plansPrices .table .darker {
  font-size: 20px;
  color: white;
  background-color: #9A7F7F;
  font-weight: normal;
}

.plansPrices .table .lighter {
  font-size: 20px;
  color: #9A7F7F;
  background-color: #CCC5C3;
  font-weight: normal;
}

.plansPrices .box_container {
  margin: 0 auto 0 auto;
}

.plansPrices .element {
  border: 2px solid #9A7F7F;
}

.plansPrices .top {
  font-size: 30px;
  color: #9A7F7F;
  background-color: white;
}

.plansPrices .bot {
  font-size: 20px;
  color: white;
  background-color: #9A7F7F;
}

.plansPrices .informations {
  width: 65%;
  margin-left: 20%;
}

.plansPrices .monthlyCharge {
  color: #9A7F7F;
  margin: 0 auto 0 0;
}

.plansPrices .classesPerWeek {
  color: #9A7F7F;
}



/* ---------------------------------------------- Contacts ------------------------------------------------ */

.contacts {
  width: 100%;
  background-color: #F2F2F2;
}

.contacts .image {
  margin-left: auto;
}