
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: High Tower Text;
}

* >p {
  font-size: 20px;
}

html, body, #root {
  height: 100%;
}

/* ---------------------------------------------- Navbar ------------------------------------------------ */

.navbar {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 5px 20px 0 0;
  position: fixed !important;
  z-index: 1;
}


.navbar .nav-link {
  font-size: 22px !important;
  font-weight: 500;
  color: black !important;
  padding-right: 20px !important;
}

.navbar .selected {
  color: #9a7f7f !important;
}

.navbar .nav-link:hover {
  color: #a59898 !important;
}

/* ---------------------------------------------- Footer ------------------------------------------------ */

.footer {
  width: 100%;
  font-size: 18px;

  color: #ffffff;
  background-color: #9a7f7f;
}

.footer .line {
  background-color: #AA9393;
  width: 60%;
  height: 2px;
}

.footer .copyright {
  color: #ffffff;
  background-color: #AA9393;
}


/* ---------------------------------------------- Home ------------------------------------------------ */


/* ----------------- HEADER ---------------- */
.home-header {
  background-image: url("./images/IMG_1565.JPG");
  width: 100%;
  height: 100%;
  background-size: cover;
  color: white;
}

@media only screen and (max-width: 1300px) {
  .home-header {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 600px) {
  .home-header {
    background-image: url("./images/IMG_15652.jpg");
    font-size: 2vw;
  }
}

.arrow-down {
  position: absolute;
  bottom: 1.5rem;
  font-size: 3rem;
  color: white;
  animation: blinker 1.5s linear infinite;
}

.arrow-down:hover {
  color: #AA9393;
}

@keyframes blinker {
  50% {
    bottom: 0rem;
  }
}

.home-header >h1 {
  font-size: 800%;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


/* --------------- ABOUT THE SPACE -------------- */

.home-aboutTheSpace {
  background-color: #AA9393;
}

.home-aboutTheSpace .text {
  color: white;
  text-align: justify;
}

.home-aboutTheSpace .text >h1 {
  font-size: 50px;
}

.home-aboutTheSpace .text >p {
  font-size: 22px;
}


.home-aboutTheSpace .schoolPic {
  background-size: contain;
  width: 100%;
}


/* ----------------- THE CLASSES ---------------- */

.homeTheClasses {
  color: #AA9393;
}

.homeTheClasses .bookClass {

  background-color: #9A7F7F;
  font-size: 25px;
  color: #EFEFEF;
  margin: 0 auto 0 auto;
  text-align: center;

  filter: drop-shadow(2px 2px 2px #8f8f8f);
}

.homeTheClasses .bookClass:hover {
  color: #eee6e6;
  background-color: #9a7f7fe1;
  cursor: pointer;
}

.homeTheClasses .cards >h1 {
  font-size: 50px !important;
}


/* ---- THE CARDS ---- */

.card_container {
  
  filter: drop-shadow(2px 2px 5px #8f8f8fa1);
}

.card_container .card_image {
  width: 100%;
  background-size: contain;
}

.card_container .card_tag {
  background-color: #e6dfdd;
}

.card_container >h4 {
  color: #6C6060;
}

.homeTheClasses .card_body:hover {
  cursor: pointer;
  filter: drop-shadow(2px 2px 5px #8f8f8fa1);
}


/* ---------------------------------------------- Classes ------------------------------------------------ */


/* ----------------- HEADER ---------------- */
.classes-header {
  background-image: url("./images/IMG_1532.JPG");
  width: 100%;
  height: 700px;
  background-size: cover;
  color: white;
}

.classes-header >h1 {
  font-size: 700%;
  animation: fadeIn 3s;
}

@media only screen and (max-width: 800px) {
  .classes-header {
    font-size: 2vw;
  }
}

/* ----------------- ClassInfo ---------------- */

.classes-classInfo .element {
  filter: drop-shadow(0 0 4px #8f8f8f);
  color: #9a7f7f;
}

.classes-classInfo .element .image {
  height: 625px;
  object-fit: cover;
  
}

.classes-classInfo .information {
  background-color: #CCC5C3;
}

.classes-classInfo .information >h1 {
  color: #6C6060;
}

.classes-classInfo .right {
  background-color: #efe5e2;
}

.classes-classInfo .bookSession {
  margin: 0 auto 0 auto;
  width: 27%;
  background-color: white;
  border: 2px solid #9A7F7F;
}

.classes-classInfo .bookSession:hover {
  cursor: pointer;
  background-color: rgb(246, 246, 246);
}


/* ---------------------------------------------- Plans&Prices ------------------------------------------------ */

.plansPrices {
  width: 100%;
  background-color: #F2F2F2;
}

.plansPrices .right >h1 {
  font-size: 45px;
  color: #AA9393;
}

.plansPrices .image {
  object-fit: cover;
}

.plansPrices .button1 {
  margin: 0 auto 0 auto;
  background-color: #9A7F7F;
  color: #F2F2F2;
}

.plansPrices .button2 {
  margin: 0 auto 0 auto;
  background-color: #F2F2F2;
  border: 2px solid #9A7F7F;
}

.plansPrices .button1:hover, .button2:hover {
  cursor: pointer;
}

.plansPrices .table {
  margin: 0 auto 0 auto;
  width: 60%;
  border-collapse: separate;
}

.plansPrices .table .darker {
  font-size: 20px;
  color: white;
  background-color: #9A7F7F;
  font-weight: normal;
}

.plansPrices .table .lighter {
  font-size: 20px;
  color: #9A7F7F;
  background-color: #e8e4e3;
  font-weight: normal;
}

.plansPrices .box_container {
  margin: 0 auto 0 auto;
}

.plansPrices .element {
  border: 2px solid #9A7F7F;
}

.plansPrices .top {
  font-size: 30px;
  color: #9A7F7F;
  background-color: white;
}

.plansPrices .bot {
  font-size: 20px;
  color: white;
  background-color: #9A7F7F;
}

.plansPrices .information {
  color: #9A7F7F;
  font-weight: normal;
}



/* ---------------------------------------------- Contacts ------------------------------------------------ */

.contacts {
  background-color: #F2F2F2;
  color: #9A7F7F;
}

.contacts .options {
  background-color: #E9E9E9;
}

.contacts .option {
  margin: 0 auto 0 auto;
  border: 0px;
  background-color: #E9E9E9;
}

.contacts .selected {
  background-color: white;
  padding: 0 20px;
}

.contacts .formInput {
  color: #705f5f;
  border: none;
  background: none;
  border-bottom: 1px solid #9A7F7F;
  margin-top: 20px;
}

.contacts .formInputRight {
  margin-left: auto;
}

.contacts .formInput::placeholder {
  color: #ac9393;
  border: none;
}

.contacts .formInputSelect {
  padding: 10px;
  background-color: #E9E9E9;
  border: none;
  margin-top: 20px;
}

.contacts .form .right {
  float: right;
}

.contacts .form .left {
  float: left;
}

.contacts .button {
  border: solid 1px #ac9393;
  color: #967f7f;
}

.contacts .button:hover {
  background-color: #eaeaea;
}

/* ---------------------------------------------- 404 ------------------------------------------------ */
.NotFoundPage{
  background-color: #F2F2F2 ;

}
.NotFoundPage .text{
  padding-left: 7em;
  margin-top: 0em;
}

.NotFoundPage h1{
  color: #AA9393;
  font-style: italic;
  font-weight: 400;
  font-size: 96px;
}
.NotFoundPage h3{
  color: #AA9393;
  font-style: italic;
  font-weight: 400;
  font-size: 50px;
}

.NotFoundPage .image {
  object-fit: contain;
  padding-right: 3em;
  
}
